In [16]:
import pandas as pd #To load pandas 
import numpy as np #To load numpy

In [17]:
#for loading csv file into pandas dataframe
data = pd.read_csv("IRIS.csv")
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [18]:
#To convert categorical features into numerical
species={'Iris-setosa':1,'Iris-versicolor':2,'Iris-virginica':3}
data=data.replace({'species':species})
data.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.2        1

In [19]:
#To get dimensions(shape) of a dataframe
data.shape

(150, 5)

In [20]:
#To drop the target column from x dataframe and store it in a different dataframe
x_train=data.drop('species',axis=1)
y_train=data[['species']]

In [21]:
#splits the data into 80% and 20% for training and cross-validation purpose
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test=tts(x_train,y_train,test_size=0.2,random_state=18)

In [22]:
#Create object/instance of logistic regression classifier available at sklearn(Just like STL in CPP)
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()

In [23]:
#Fit the above object with the training data
clf.fit(x_train,y_train)

/Users/geetshingi/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/geetshingi/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/geetshingi/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [24]:
#Check accuracy on the cross validation data we created using split
clf.score(x_test,y_test)

0.9666666666666667

In [25]:
#To predict values on a dataframe
prediction_test = clf.predict(x_test)

In [30]:
#Conversion to int datatype
prediction_test=prediction_test.astype(int)
print(prediction_test.shape)

(30,)

In [34]:
#Ignore the statement below. This dataset does not have Id column but ideally you will have the column present
Id = np.random.rand(30,1)
#You will do something like this: 
#Id = data["id"]

In [35]:
#Create a dataframe with ID and Target
my_solution = pd.DataFrame(prediction_test, Id, columns = ["Target"])
print(my_solution.shape)

(30, 1)

In [36]:
my_solution.to_csv("prediction.csv", index_label = ["id"])